@import "../../global.scss";

.menu {
  width: 300px;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  background: rgba(30, 33, 45, 0.9);

  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(3.5px);

  border: 1px solid rgba(24, 24, 24, 0.18);

  @include mobile {
    width: 100%;
    right: -100%;
  }

  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;
    width: 60%;

    li {
      margin-bottom: 20px;
      transition: all 0.5s ease;
      padding: 5px;
      a {
        font-size: 28px;
        color: inherit;
        text-decoration: none;
        font-weight: 200;
      }

      &:hover {
        font-weight: 600;
        transform: scale(1.05);
      }
    }
  }
}
