@import "../../global.scss";

.portfolioList {
  font-size: 20px;
  margin-right: 50px;
  padding: 0.7;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
